@{
    ViewBag.Title = "CLIENT JS ONLY";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Brain Eaters!</title>
</head>
<body>



    <canvas id="gameCanvas" width="600" height="600" style="border-style: solid"></canvas>
    <div style="border-style: solid; width:600px">
        <p id="score"></p>
        <p id="status"></p>
    </div>

    <!-- get JQuery from CDN for ease of client side loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>

    <!-- this does not exist. it's dynamically generated in memory and becomes a proxy for talking to signalR -->
    <script src="~/signalR/hubs"></script>

    <script src="~/Scripts/braineaters/clientside-only.js"></script>

</body>
</html>
