@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Brain Eaters!</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="game-content">
        <form id="login-frm">
            <label>
                Name:
                <input type="text" name="name" value="Steve"/>
            </label>
            <label>
                Color:
                <input type="color" name="color" />
            </label>
            <input type="submit" />
        </form>
        <canvas id="game-canvas" tabindex="1"></canvas>
        <p>
            See the source code on my <a href="https://github.com/cwessel188/BrainEaters">GitHub</a>! <br />
            Send bug reports, feature requests, job opportunities, dinner invitations, and money
            to <a id="email-link">cwessel188@gmail.com</a>!
        </p>
        <hr />
        <p>
            <a href="~/BrainEaters/ClientSideGame">Single Player Game</a>
        </p>
    </div>
    <div id="chat-content">
        <div id="chat-messages">
            <ul id="chat-message-list"></ul>
        </div>
        <form id="chat-form">
            <p>
                Chat with online players!
            </p>
            <input id="input" autocomplete="off" />
            <input type="submit" value="Send" />
        </form>
    </div>

    <!-- get JQuery from CDN for ease of client side loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <!-- this does not exist. it's dynamically generated in memory and becomes a proxy for talking to signalR -->
    <script src="~/signalR/hubs"></script>

    <script src="~/Scripts/braineaters/client.js"></script>
    <script src="~/Scripts/braineaters/email-script.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
