@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Brain Eaters!</title>
</head>
<body>

    <canvas id="gameCanvas" width="500" height="500" style="border-style: solid"></canvas>

    <div style="border-style: solid; width:600px">
        <p id="score"></p>
        <p id="status"></p>
    </div>

    <a href="~/BrainEaters/ClientSideGame">Client Only game</a>
    

    <!-- get JQuery from CDN for ease of client side loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>

    <!-- this does not exist. it's dynamically generated in memory and becomes a proxy for talking to signalR -->
    <script src="~/signalR/hubs"></script>

    <script src="~/Scripts/braineaters/client.js"></script>
</body>
</html>
