@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Brain Eaters!</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row" id="game-content">
        <div class="col-md-8">
            <canvas id="gameCanvas" width="500" height="500" style="border-style: solid" tabindex="1"></canvas>
            @*<div style="border-style: solid; width:500px">
                <p id="score"></p>
                <p id="status"></p>
            </div>*@
            <p>
                <a href="~/BrainEaters/ClientSideGame">Single Player Game</a>
            </p>
        </div>
        <div class="col-md-4" id="chat-window"  >
            <ul id="chat-messages"></ul>
            <form id="chat-form">
                <p>
                    Chat with online players!
                </p>
                <input id="input" autocomplete="off" />
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>




    <!-- get JQuery from CDN for ease of client side loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>

    <!-- this does not exist. it's dynamically generated in memory and becomes a proxy for talking to signalR -->
    <script src="~/signalR/hubs"></script>

    <script src="~/Scripts/braineaters/client.js"></script>
    <script src="~/Scripts/braineaters/basic-chat.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
